
/* 1. Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 2. General Font Styles */

.logo,
.featured-projects > h2,
.recent-news > h2 {
    font-weight: 200;
}

.object-name,
.news-number,
#be-in-touch {
    font-family: "Anti Didone";
}

/* 3. Shared Styles  */

.featured-projects,
.recent-news {
    width: 1100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured-projects > h2,
.recent-news > h2 {
    letter-spacing: 3px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    .featured-projects,
    .recent-news {
        width: 100%;
    }
}

/* 4. Header styles */
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

.logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    font-size: 1.25rem;
    text-decoration: none;
}

.container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 50%;
}

.container ul li a {
    color: black;
    font-family: "Anti Didone";
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 200;
}

@media only screen and (max-width: 840px ){

    .container ul {
        width: 80%;
    }

    .container ul li a {
        font-size: 1rem;
        font-weight: 200;
    }
}

@media only screen and (max-width: 480px) {
    
    .container ul li a {
        font-size: .8rem;
        font-weight: 900;
    }
}

/* 5. Main Content */

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 6. Featured Projects */

.project-1,
.project-2,
.project-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.object-name {
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    font-weight: 100;
}

.project-1 > *,
.project-2 > *,
.project-3 > * {
    width: 30%;
}

.project-2 {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 960px) {
    .object-name {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 760px) {
    .description {
        display: none;
    }

    .project-1 > *,
    .project-2 > *,
    .project-3 > * {
        width: 40%;
    }
}

/* 7. Recent News */

.news-section {
    display: flex;
    gap: 10px;
}

.news-card {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.news-number {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.news-date {
    font-size: 1.2rem;
}

.news-summary {
    font-size: 1.75rem;
    font-weight: 100;
    height: 100%;
}

@media only screen and (max-width: 1100px) {
    .news-summary {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 960px) {

    .news-date {
        font-size: .8rem;
    }

    .news-summary {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 760px) {
    .news-card {
       flex-basis: 47%;
    }
    .news-card:last-child {
        display: none;
    }
}

/* 8. Footer Section */

footer {
    background-color: darkslategrey;
    color: white;
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#be-in-touch {
    font-size: 3rem;
    width: 120px;
    height: 120px;
    font-style: italic;
}

.contact {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    align-items: flex-start;
    font-weight: 100;
}

.socials a {
    padding: 5px;
    color: white;
}

.socials a:hover {
    color: darkslategrey;
    background-color: white;
    text-decoration: none;
}

@media only screen and (max-width: 760px) {
    #be-in-touch {
        font-size: 2rem;
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 480px) {
    #be-in-touch {
        display: none;
    }
}

/* Other Links */

.more-projects:hover,
.news-link:hover {
    font-weight: bold;
}